

.container {
    max-width: 60vw;
    margin: auto;
}

#website-logo {
    text-align: center;
    font-family: cursive;
}

/*Post styling*/
.post-group-item {
    display: block;
    background-color: wheat;
    margin-top: 20px;
    border-style: outset;
}

.post-content {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    height: 0px;
}
.underline {
    border-bottom: 2px solid brown;
    width: 100%;
    display: block;
}

.post-description {
    font-size: 22px;
}


/*Publish post form styling*/

.publish-form {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 30px;
    margin-top: 10px;
}

#form-title {
    margin-top: 10px;
    height: 3vh;
}

#form-description {
    margin-top: 10px;
    height: 3vh;
}

#publish-btn {
    margin-top: 10px;
    height: 4vh;
}

/*Footer*/

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    background-color: rgb(173, 141, 98);
}